<h1>Jobs in the Past 90 Days by Type (Bar Chart)</h1>

<div class="span12">
  <input ng-model="chartConfig.title.text">
  <button class="btn btn-primary" ng-click="addSeries()">Add Series</button>
  <button class="btn btn-primary" ng-click="addPoints()">Add Points to Random Series</button>
  <button class="btn btn-primary" ng-click="removeRandomSeries()">Remove Random Series</button>
  <button class="btn btn-primary" ng-click="swapChartType()">Line/Bar</button>
</div>
<div class="row">
  <highchart id="chart1" config="chartConfig" class="span10"></highchart>
</div>